<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Web.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AirlineServlet</servlet-name>
    <servlet-class>Web.AirlineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AirlineServlet</servlet-name>
    <url-pattern>/airlineServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmailServlet</display-name>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>Web.checkEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/checkEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightServlet</display-name>
    <servlet-name>SearchFlightServlet</servlet-name>
    <servlet-class>Web.SearchFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightServlet</servlet-name>
    <url-pattern>/searchFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchInDetails</display-name>
    <servlet-name>SearchInDetails</servlet-name>
    <servlet-class>Web.SearchInDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInDetails</servlet-name>
    <url-pattern>/searchInDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEmployeeServlet</display-name>
    <servlet-name>RegisterEmployeeServlet</servlet-name>
    <servlet-class>Web.RegisterEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmployeeServlet</servlet-name>
    <url-pattern>/registerEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChecSSNServlet</display-name>
    <servlet-name>ChecSSNServlet</servlet-name>
    <servlet-class>Web.ChecSSNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChecSSNServlet</servlet-name>
    <url-pattern>/checSSNServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProduceMonthlyReportServlet</display-name>
    <servlet-name>ProduceMonthlyReportServlet</servlet-name>
    <servlet-class>Web.ProduceMonthlyReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduceMonthlyReportServlet</servlet-name>
    <url-pattern>/produceMonthlyReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllFlightServlet</display-name>
    <servlet-name>ListAllFlightServlet</servlet-name>
    <servlet-class>Web.ListAllFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllFlightServlet</servlet-name>
    <url-pattern>/listAllFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByFlghtServlet</display-name>
    <servlet-name>SearchByFlghtServlet</servlet-name>
    <servlet-class>Web.SearchByFlghtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByFlghtServlet</servlet-name>
    <url-pattern>/searchByFlghtServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByCustomerServlet</display-name>
    <servlet-name>SearchByCustomerServlet</servlet-name>
    <servlet-class>Web.SearchByCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByCustomerServlet</servlet-name>
    <url-pattern>/searchByCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByDCityServlet</display-name>
    <servlet-name>SearchByDCityServlet</servlet-name>
    <servlet-class>Web.SearchByDCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByDCityServlet</servlet-name>
    <url-pattern>/searchByDCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindEmployeePerformanceServlet</display-name>
    <servlet-name>FindEmployeePerformanceServlet</servlet-name>
    <servlet-class>Web.FindEmployeePerformanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEmployeePerformanceServlet</servlet-name>
    <url-pattern>/findEmployeePerformanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCustomerPormanceServlet</display-name>
    <servlet-name>FindCustomerPormanceServlet</servlet-name>
    <servlet-class>Web.FindCustomerPormanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCustomerPormanceServlet</servlet-name>
    <url-pattern>/findCustomerPormanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindMostActiveFlightServlet</display-name>
    <servlet-name>FindMostActiveFlightServlet</servlet-name>
    <servlet-class>Web.FindMostActiveFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMostActiveFlightServlet</servlet-name>
    <url-pattern>/findMostActiveFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSeatsServlet</display-name>
    <servlet-name>SearchSeatsServlet</servlet-name>
    <servlet-class>Web.SearchSeatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSeatsServlet</servlet-name>
    <url-pattern>/searchSeatsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightByGivenAirport</display-name>
    <servlet-name>FlightByGivenAirport</servlet-name>
    <servlet-class>Web.FlightByGivenAirport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightByGivenAirport</servlet-name>
    <url-pattern>/flightByGivenAirport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getMailListServlet</display-name>
    <servlet-name>getMailListServlet</servlet-name>
    <servlet-class>Web.getMailListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMailListServlet</servlet-name>
    <url-pattern>/getMailListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuggestedFlightsServlet</display-name>
    <servlet-name>SuggestedFlightsServlet</servlet-name>
    <servlet-class>Web.SuggestedFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuggestedFlightsServlet</servlet-name>
    <url-pattern>/SuggestedFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BestSellerFlightsServlet</display-name>
    <servlet-name>BestSellerFlightsServlet</servlet-name>
    <servlet-class>Web.BestSellerFlightsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BestSellerFlightsServlet</servlet-name>
    <url-pattern>/BestSellerFlightsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>Web.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/deleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>Web.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/deleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationsByCustomerServlet</display-name>
    <servlet-name>ReservationsByCustomerServlet</servlet-name>
    <servlet-class>Web.ReservationsByCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationsByCustomerServlet</servlet-name>
    <url-pattern>/ReservationsByCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItineraryServlet</display-name>
    <servlet-name>ItineraryServlet</servlet-name>
    <servlet-class>Web.ItineraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItineraryServlet</servlet-name>
    <url-pattern>/ItineraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordReservationServlet</display-name>
    <servlet-name>RecordReservationServlet</servlet-name>
    <servlet-class>Web.RecordReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordReservationServlet</servlet-name>
    <url-pattern>/RecordReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightToReservationServlet</display-name>
    <servlet-name>AddFlightToReservationServlet</servlet-name>
    <servlet-class>Web.AddFlightToReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightToReservationServlet</servlet-name>
    <url-pattern>/AddFlightToReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRoundTripServlet</display-name>
    <servlet-name>SearchRoundTripServlet</servlet-name>
    <servlet-class>Web.SearchRoundTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRoundTripServlet</servlet-name>
    <url-pattern>/SearchRoundTripServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightOneWayFlex</display-name>
    <servlet-name>SearchFlightOneWayFlex</servlet-name>
    <servlet-class>Web.SearchFlightOneWayFlex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightOneWayFlex</servlet-name>
    <url-pattern>/SearchFlightOneWayFlex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightRoundTripFlex</display-name>
    <servlet-name>SearchFlightRoundTripFlex</servlet-name>
    <servlet-class>Web.SearchFlightRoundTripFlex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightRoundTripFlex</servlet-name>
    <url-pattern>/SearchFlightRoundTripFlex</url-pattern>
  </servlet-mapping>
</web-app>